body {
    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
    /* Visual */
    background-color: #fdf8f5 ;
  }

html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
  }

.block {
    margin:2%;
}
nav {
    background-color:#ebcfc4;
}
.footer {
    /* Positioning */
    position: absolute;
    bottom: 0;
  
    /* Box-model */
    width: 100%;
    height: 60px;
  
    /* Visual */
    background-color: #ebcfc4;
  }