  /* STYLES FOR ALL PAGES */

  /* Sets the position of the html to be relative so the footer can be sticky based on this */

  html {
      /* Positioning */
      position: relative;
      /* Box-model */
      min-height: 100%;
      font-family: 'Varela', sans-serif;
      color: #1a1713;
      background-color: #f5f3eb;

  }

  body {
      font-family: 'Varela', sans-serif;
      color: #1a1713;
      background-color:#f5f3eb

  }

  nav {
      background-color: transparent;
      width: 100%;
      font-family: 'Varela', sans-serif;
  }

  #homeHeader {
      font-size: 58px;
      margin-bottom: 5%;
  }

  #homeSubHeader {
      font-size: 28px;
  }

  .aboutmeEl {
      padding-bottom: 10%;
      padding-top: 10%;
  }

  .aboutmeTwo {
      background-color: transparent;
      border: none;
  }

  .homeCardTwo {
      background-color: transparent;
      border: none;
  }

  .bioBody {
      background-color: transparent;
      border: none;
      padding-right: 1%;
  }

  .bioCard {
      background-color: transparent;
      border: none;
      border-left: 3px solid;
  }

  .block {
      margin: 20px;
  }

  /* Styles the footer for all pages for background color, absolute position to make it sticky to the bottom, and full screen width*/

  .footer {
      background-color: #1a1713;
      color: white;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
  }

  /* Styles the image for index.html */

  .bioImg {
    
  }

  /* Styles the portfolio images for portfolio.html */

  .portfimg {
      margin: 3% auto;
      display: block;
      padding: 10px;
  }

  /* Styles the content in the form group on the Contact Us page for contact.html */

  .form-group {
      margin: 3% auto;
  }

  /* Styles the footer across pages to have centered text */

  .myInfo {
      margin-top: 25%;
      margin-right: 10%;
  }

  .icons {
      margin-left: 2%;
  }

  .fa-github {
      margin-left: 1%;
  }

  .portfolioCard {
      background-color: transparent;
      text-align: center;
      border: none
  }

  hr {
      width: 100%;
      height: 1px;
      margin-top: 5%;
      margin-bottom: 5%
  }

  .card-title {
      font-weight: 600;
  }

  .btn-outline-secondary {
      background-color: transparent;
      border-color: #1a1713;
      border-width: 1px;
      color: #1a1713;
      border-radius: 0%;
  }



  .homeButton {
      width: 70%;
      margin-top: 5%;
      margin-bottom: 3%;
  }

  .contactCard {
      background-color:transparent;
      border: none;
      padding-left:5%;
      border-left: 3px solid;
  }

  @media screen and (max-width:450px) {
      #homeHeader {
          font-size: 25px;
      }
      #homeSubHeader {
          font-size: 16px;
      }
  }